@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 204 70% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 232 43% 16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* width */
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-dark-navy;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md bg-royal-blue/70;
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-royal-blue/90;
  }

  .dashboard > .active {
    @apply bg-[#293560];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Chat List scrollbar */
  .chatList-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
  }
  .chatList-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .chatList-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }

  /* Chat scrollbar */
  .chat-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .chat-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .chat-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0.5rem;
  }
}
